@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: theme(colors.neutral.950);
    --color-secondary: theme(colors.neutral.50);
    --color-tertiary: theme(colors.orange.500);
    --color-success-light: theme(colors.green.100);
    --color-success-medium: theme(colors.green.500);
    --color-success-deep: theme(colors.green.700);
    --color-error: theme(colors.red.500);
    --color-muted: theme(colors.stone.500);
}
